<div class="col-sm-4 mt-3 mb-3">
    <div class="card">
        <div class="card-body">
            <div class="affected-countries">
                <h6 class="card-title">Affected Countries</h6>
                <p class="mt-1" style="font-size: 14px; color: #979da7; font-weight: bold;">Today's Statistics</p>
            </div>
            <div class="form-group mt-4">
                <input type="text" class="input-search" placeholder="Search per country">
                <div class="my-option">
                    <select class="form-control">
                    <option disabled>Sort By</option>
                    <option>Total Cases</option>
                    <option>Today Cases</option>
                    <option>Total Deaths</option>
                    <option>Today Deaths</option>
                    <option>Today Recoveries</option>
                </select>
                </div>
            </div>
        </div>
    </div>
</div>