<div class="col-sm-4 mt-3 mb-3">
    <div class="card">
        <div class="card-body">
            <div class="affected-countries">
                <h6 class="card-title">Affected Countries</h6>
                <p class="mt-1" style="font-size: 14px; color: #979da7; font-weight: bold;">Today's Statistics</p>
            </div>
            <div class="form-group mt-4">
                <h6 class="card-title">Search per country or per category</h6>
                <input type="text" class="form-control" placeholder="Search per country">
                <div class="my-option mt-3">
                    <select class="form-control">
                    <option disabled>Sort By</option>
                    <option>Total Cases</option>
                    <option>Today Cases</option>
                    <option>Total Deaths</option>
                    <option>Today Deaths</option>
                    <option>Today Recoveries</option>
                </select>
                </div>
                <div class="panel-body mt-4">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Signature
                            Example Data</strong>(1480)
                        </li>
                        <li class="list-group-item"><strong>Signature
                            Example Data</strong>(1480)
                        </li>
                        <li class="list-group-item"><strong>Signature
                            Example Data</strong>(1480)
                        </li>
                        <li class="list-group-item"><strong>Signature
                            Example Data</strong>(1480)
                        </li>
                        <li class="list-group-item"><strong>Signature
                            Example Data</strong>(1480)
                        </li>
                        <li class="list-group-item"><strong>Signature
                            Example Data</strong>(1480)
                        </li>
                        <li class="list-group-item"><strong>Signature
                            Example Data</strong>(1480)
                        </li>
                        <li class="list-group-item"><strong>Signature
                            Example Data</strong>(1480)
                        </li>
                        <li class="list-group-item"><strong>Signature
                            Example Data</strong>(1480)
                        </li>
                        <li class="list-group-item"><strong>Signature
                            Example Data</strong>(1480)
                        </li>
                        <li class="list-group-item"><strong>Signature
                            Example Data</strong>(1480)
                        </li>
                        <li class="list-group-item"><strong>Signature
                            Example Data</strong>(1480)
                        </li>
                        <li class="list-group-item"><strong>Signature
                            Example Data</strong>(1480)
                        </li>
                        <li class="list-group-item"><strong>Signature
                            Example Data</strong>(1480)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>