<Statistic @statistics={{@model.data}} />
<div class="container">
    <div class="row">
        <AffectedCountries />
    </div>
    <div class="row">
        <GaugeChart />
        <MultipleAxes />
    </div>
    <div class="row">
        <Piechart />
        <Rates @data={{@model.percent}}/>
    </div>
</div>





